<h1>
    {{ title }}
</h1>

<p>
    {{ message }}
</p>

<div>
        <figure>
            <a href="https://plannerjoshuahgeorge.azurewebsites.net/Homework">
                <img src="/images/planner.png" alt="Planner Application" width="329" height="255"/>
                <figcaption>A planner application to keep </br> track of upcoming assignments.</figcaption>
            </a>
        </figure>
</div>
