body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*https://www.w3schools.com/howto/howto_css_fixed_footer.asp*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
  padding: 12px;
}

@keyframes smolder-background {
  0%	{background-color: rgb(73, 72, 71);}
  40%	{background-color: rgb(46, 46, 46);}
  /*80%	{background-color: rgb(46, 46, 46);}*/
  100%	{background-color: rgb(73, 72, 71);}
}

/* Make an animation for the boarders to look like they are smoldering */
body#override {
  /* font family is Case sensitive and important fonts use spaces instead of + */
  /*font-family: 'Inconsolata','Amatic SC',Helvetica, Arial, sans-serif;*/
  /* font-family: Arial, Helvetica, sans-serif;
  font: italic small-caps bold 10px/1.5 Georgia, "Times New Roman"; */
  /*text-align: center;*/
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(8, 6, 2, 0.7), rgba(73, 72, 71, 0.993), rgba(46, 46, 46, 0.7))!important;
  background-image: linear-gradient(45deg, tomato, rebeccapurple);
  background-image: image("../images/GitHub-Mark-Light-64px.png");
  /* background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(8, 6, 2, 0), rgba(46, 34, 7, 0.349), rgba(94, 71, 18, 0.678)); */
  background-color: black;
  background-size: 100vw;
  background-clip: border-box;
  background-repeat: no-repeat;
  color: rgba(243, 241, 237, 0.959);
  animation-name: smolder-background;
  animation-duration: 13.05s;
  animation-iteration-count: infinite;
  position: fixed;
  length: 100%;
  width: 100%;
}
